{{! Maintainers - Himanshu Rajotia <himanshu.rajotia@credipoint.com>}}
<div class="review-retake">
    <div class="review-retake-widget">
        <a href="#" class="button review">
            <span>Review</span>
        </a>
        <a href="#" class="button retake">
            <span>Retake</span>
        </a>
    </div>
</div>